.wrapper
  .chat-side
    .chat-side__header
      .chat-side__header__box
        %p.chat-side__header__box__users-name 
          = current_user.name
        %ul.chat-side__header__box__menu
          %li.chat-side__header__box__menu__new-group
            = link_to new_group_path do
              = fa_icon 'edit', class: 'icon'
          %li.chat-side__header__box__menu__edit-user
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
          
    .groups
      .groups__index
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。 
  .message-side
    .message-side__header
      .message-side__header__box
        .message-side__header__box__in
          %p.message-side__header__box__in__group-name Sample
          %dt.message-side__header__box__in__group-members Members kami nao      
          %button.message-side__header__box__in__btn.btn-primary Edit
    .message-side__contents
      .message-side__contents__box
        .message-side__contents__box__user
          .message-side__contents__box__user__name kami
          .message-side__contents__box__user__create-at 2019/07/29 17:58
        .message-side__contents__box__text こんにちわ！
    .message-side__footer
      .message-side__footer__form
        =form_tag do
          .input-box
            %input{type: "text", size: "50", placeholder: "type a message"}
            %label.file-label{title: "ファイルを選択"}
              %i.fas.fa-image
          %br
          %input{type: "submit", value: "Send"} 
