.wrapper
  .chat-side
    .chat-side__header
      .chat-side__header__box
        %p.chat-side__header__box__users-name 
          = current_user.name
        %ul.chat-side__header__box__menu
          %li.chat-side__header__box__menu__new-group
            = link_to new_group_path do
              = fa_icon 'edit', class: 'icon'
          %li.chat-side__header__box__menu__edit-user
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
          
    .groups
      .groups__index
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              = group.show_last_message 
  .message-side
    .message-side__header
      .message-side__header__box
        .message-side__header__box__in
          %p.message-side__header__box__in__group-name Sample
          %dt.message-side__header__box__in__group-members Members kami nao      
          %button.message-side__header__box__in__btn.btn-primary Edit
    .message-side__contents
      = render @messages
    .message-side__footer
      .message-side__footer__form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'